/*
 * Common Styles - Aggregator
 * This file imports all common style partials.
 */

@import url("_Buttons.uss");
@import url("_Tabs.uss");
@import url("_Forms.uss");
@import url("_Sliders.uss");
@import url("_Modals.uss");
@import url("_Text.uss");
@import url("_LayoutUtils.uss");
@import url("_ColorPickerStyles.uss");
@import url("_Icons.uss");
